.services-page {
  padding: 40px;
  background: #eef4f4;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #2c3e50;
}

.service-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-bottom: 5px solid #1f7c82;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.icon {
  background: #1f7c82;
  color: white;
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 10px;
}